@charset "UTF-8";

.timeline {
	/* none */
}
.timeline .timeline-contents {
	width: 760px;
	background-color: white;
	border: solid 1px #DBDBDB;
	margin:0 auto;
	margin-top: 30px;
}
.timeline .timeline-contents .timeline-head {
	height: 60px;
	border-bottom: 1px solid #DBDBDB;
}
.timeline .timeline-contents .timeline-head .profile {
	width: 10%;
}
.timeline .timeline-contents .timeline-head .profile img {
	width: 40px;
	margin-top: 10px;
	margin-left: 20px;
}
.timeline .timeline-contents .timeline-head .userName {
	width: 30%;
	margin-top: 20px;
}
.timeline .timeline-contents .timeline-head .option {
	width: 60%;
}
.timeline .timeline-contents .timeline-head .option img {
	width: 40px;
	float: right;
	margin-top: 10px;
	margin-right: 20px;
	cursor: pointer;
}

.timeline .timeline-contents .timeline-image {
	max-width: 759.19px;
	
}
.timeline .timeline-contents .timeline-image img {
	width: 756px;
}

.timeline .timeline-contents .timeline-comment .no-like, .like {
	width: 33px;
	height: 33px;
	margin-top: 20px;
	margin-left: 20px;
}
.timeline .timeline-contents .timeline-comment .like-number {
	width: 100px;
	margin-left: 20px;
	margin-top: 25px;
	font-size: 16px;
}
.timeline .timeline-contents .timeline-comment .content {
	margin-top: 15px;
	margin-left: 20px;
	font-size: 18px;
}
.timeline .timeline-contents .timeline-comment .time {
	margin-left: 20px;
	font-size: 14px;
	color: gray;
}
.timeline .timeline-contents .timeline-comment .detail {
	margin: 10px 0 20px 20px;
	font-size: 16px;
	text-decoration: underline;
}
.timeline .timeline-contents .timeline-comment .detail .detailBtn {
	cursor: pointer;
}