@charset "UTF-8";

/* 로그인 화면 */
.sign-in {
	width: 70%;
	height: 635px;
	position: relative;
	left: 25%;
	top: 150px;
}
.sign-in .banner {
	background-image: url("/images/sign_in/bannerFrame.png");
	width: 500px;
}
#bannerImage {
	animation:blink-effect 2.5s infinite alternate;
	animation-timing-function: ease-in-out;
}
@keyframes blink-effect {
  0% {opacity:0;}
  100% {opacity:1;}
}
.sign-in .banner .banner-image {
	margin-left: 157px;
	margin-top: 26px;
}
.sign-in .input {
	width: 380px;
	height: 350px;
	margin-top: 50px;
	background-color: white;
	border: solid 1px #DBDBDB;
	text-align: center;
}
.sign-in .input h1 {
	margin-top: 40px;
	margin-bottom: 70px;
}
.sign-in .input form #loginId {
	width: 80%;
	height: 40px;
	background-color: #FAFAFA;
	margin-top: 15px;
	margin-left: 40px;
	font-size: 15px;
	border: solid 1px #DBDBDB;
}
.sign-in .input form #loginPassword {
	width: 80%;
	height: 40px;
	background-color: #FAFAFA;
	margin-top: 15px;
	margin-left: 40px;
	font-size: 15px;
	border: solid 1px #DBDBDB;
}
.sign-in .input form .btn {
	width: 80%;
	height: 35px;
	border: 0;
	border-radius: 4px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.sign-in .no-account {
	width: 380px;
	height: 80px;
	margin-top: 30px;
	background-color: white;
	border: solid 1px #DBDBDB;
	text-align: center;
}
.sign-in .no-account div {
	margin-top: 25px;
}


/* 회원가입 화면 */
.sign_up {
	width: 20%;
	height: 650px;
	position: relative;
	top: 130px;
	left: 40%;
	border: solid 1px #DBDBDB;
	background-color: white;
	margin: 0;
	text-align: center
}
.sign_up .input h1 {
	margin-top: 15px;
}
.sign_up .input div {
	width: 80%;
	margin-top: 10px;
	margin-left: 30px;
}
.sign_up .input div span {
	font-size: 18px;
	color: gray;
	font-weight: bold;
}
.sign_up .input form {
	margin-top: 20px;
}
.sign_up .input form .loginId {
	width: 70%;
	height: 50px;
	background-color: #FAFAFA;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 15px;
	font-size: 15px;
	border: solid 1px #DBDBDB;
}
.sign_up .input form #loginIdCheckBtn {
	height: 40px;
	border-radius: 4px;
	font-size: 15px;
	margin-top: 20px;
}
.sign_up .input form .input-text {
	width: 80%;
	height: 50px;
	background-color: #FAFAFA;
	margin-top: 15px;
	margin-left: 40px;
	font-size: 15px;
	border: solid 1px #DBDBDB;
}
.sign_up .input form input[type=button] {
	width: 80%;
	height: 35px;
	border: 0;
	border-radius: 4px;
	margin-top: 20px;
}
.sign_up .login {
	margin-top: 20px;
}